body {
  min-width: $width-mobile;
  font-family: $font-stack;
  font-size: $font-size;
  color: $font-color;
  text-transform: uppercase;
}
.center-wrapper {
  max-width: $width-desktop;
  margin: 0 auto;
}
