
.form-review{

  &__fieldset{
    border-left:none;
    border-right:none;
    border-top:none;  
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }

  &__fieldset:last-of-type{
    border-bottom: none;
  }

  &__legend{
    @include big-text;
    text-align: center;
    margin-bottom: 10px;
  }

  &__submit{
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    border: none;
    background: $bg-blue;
    text-transform: uppercase;
  }
}

.form-user {
  padding: 20px 18px 6px;
  border: none;
  margin: 0;

  &__title {
    @include title;
    margin: 17px 0 7px;
  }

  &__label {
    display: block;
    @include label;
    margin-bottom: 7px;
  }

  &__input {
    display: block;
    @include input;
    width: 280px;
    text-transform: none;
    margin-bottom: 15px;
  }
}
.text-block{

  &__title{
    @include big-text;
    text-align: center;
  }
}
.highlighted{
  color: #ff2222;
}

.impression{
  margin-bottom: 23px;
}

.impression-radio{
  padding-top: 13px;
  padding-right: 18px;
  padding-left: 18px;
  margin: 0;
  width: 280px; //временно

  &__input {
    opacity: 0;
  }

  &__label {
    @include big-text;
    text-transform: none;
  }

  &__label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 18px #f2f2f2;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: -20px;
    background: #f2f2f2;
  }

  &__input:checked + &__label:before{
    background: #000;
  }
}

.travels-dates{
  padding: 20px 18px 6px;

  &__label {
    display: block;
    @include label;
    margin-bottom: 7px;
  }

  &__input {
    display: block;
    @include input;
    width: 280px;
    margin-bottom: 15px;
  }
}

.counter{
  padding-top: 20px;
  padding-bottom: 6px;
  padding-left: 18px;

  &__label{
    display: block;
    margin-bottom: 7px;
  }

  &__number &__input {
    @include input-number;
  }

  &__number &__marker {
    @include marker;
  }

  &__number &__marker:last-child{
    margin-right: 0;
  }
}

.form-wrapper{
  display: table;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;

  &__row{
    display: table-row;
  }

  &__col{
    display: table-cell;
  }

  &__col--left{
    width: 21%;
    padding-right: 4px;
  }

  &__col--number{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    background: #f2f2f2;
    width: 61px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }

  &__label{
    @include label;
  }

  &__input{
    @include input;
    width: 209px;
    margin-bottom: 23px;
  }
}

.attraction{

  &__input{
    opacity: 0;
  }

  &__label{
    @include big-text;
    text-transform: none;
  }

  &__label:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: 10%;
    background: #f2f2f2;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  &__input:checked + &__label:before{
    background: #f2f2f2 url('../img/tick.png') no-repeat 50% 50%;
    background-size: 25px 19px;
  }
}

.select-photos{

  &__label{
    cursor: pointer; 
    @include btn;
    color: #c6c6c6;
    background-color: #f2f2f2;
  }
             
  &__button{
    opacity: 0;     
  }
}

.download{
  
  &__photos{
    padding-top: 20px;
    padding-bottom: 6px;
  }

  &__photo{
    position: relative;
    display: inline-block;
    font-size: $font-size;
    margin-top: 0px;
    margin-right: 35px;
    margin-bottom: 25px;
    margin-left: 0px;
  }

  &__photo:nth-of-type(3n){
    margin-right: 0;
  }

  &__btn{
    position: absolute;
    top: -15px;
    left: calc(50% - 15px);
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #f2f2f2;
    border: none;
  }
  &__btn--close{
    background: #f2f2f2 url("../img/btn-close.png") no-repeat scroll 50% 50%;
    background-size: 12px 12px;
  }
}