
/*Сетка из 12 колонок*/
@for $i from 1 through 12 {
  .grid-#{$i}_320{
    @include grid;
    width: 1 / 12 * $i * 100%;
  }
}

@media (min-width: 768px){
  @for $i from 1 through 12 {
    .grid-#{$i}_768{
      @include grid;
      width: 1 / 12 * $i * 99%;
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    .grid-#{$i}_1200{
      @include grid;
      width: 1 / 12 * $i * 99%;
    }
  }
}

input:focus {
  outline: 2px solid #b8b8b8;
}


/*Основная форма*/
.form-review{
  margin:0;
  padding:0;

  margin-left: 6.3%;
  margin-right: 6.3%;

  @media (min-width: $width-laptop){
    margin-left: 7.87%;
    margin-right: 7.87%;
  }

  @media (min-width: $width-desktop){
    margin-left: 10.19%;
    margin-right: 10%;
  }


  &__fieldset{
    margin:0;
    padding:0;

    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom: 1px solid #e5e5e5;

    margin-bottom: 20px;

   @media (min-width: $width-laptop){
    border-bottom: none;
   }
  }

  &__fieldset:last-of-type{
    border-bottom: none;
  }

  &__legend{
    @include big-text;
    text-align: center;
    margin-bottom: 10px;
    
    @media (min-width: $width-laptop){
      font-size: $font-size-bigger;
      position: relative;
      width: 100%;

      &:before {
        content: '';
        width: 17.5%;
        height: 1px;
        background-color: $grey;
        position: absolute;
        left: 0;
        top: 40%;
      }

      &:after {
        content: '';
        width: 17.5%;
        height: 1px;
        background-color: $grey;
        position: absolute;
        right: 0;
        top: 40%;
        }
     }
  }

  &__submit{
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 100px;
    border: none;
    background: $bg-blue;
    text-transform: uppercase;
  }

  &__required-field:after{
    content: '*';
    width: 1px;
    height: 1px;
    color: #ff2222;
    position: absolute;
  }
}

/*Информация о путешественнике*/

.form-user {
  padding: 20px 18px 6px;
  border: none;
  margin: 0;
  @media (min-width: $width-laptop) {
    padding: 25px 0 30px;
    border-bottom: none;
  }

  &__title {
    @include title;
    margin: 17px 0 7px;
    @media (min-width: $width-laptop) {
      font-size: $font-size-bigger;
    }
  }

  &__label {
    display: block;
    @include label;
    position: relative;
    padding: 0 21px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &__input {
    display: block;
    @include input;
    width: 100%;
    text-transform: none;
    margin-bottom: 15px;
  }

  &__input-wrapper{
    display:inline-block;
    width: 100%;
    margin-right: 0;
    @media (min-width: $width-laptop) {
      width: 27%;
      margin-right: 8.45%;
    }
  }

  &__input-wrapper:last-child{
    margin-right: 0;
  }
}

.text-block{
  &__title{
    @include big-text;
    text-align: center;
  }
}

.impression{
  margin-bottom: 23px;

  @media (min-width: $width-desktop){
    text-align: center;
  }
}

.impression-radio{
  padding-top: 13px;
  padding-left: 20px;
  
  @media (min-width: $width-laptop){
    width: 40.6%;
    margin-right: 12%;
    &:last-child{
      margin-right: 0;
    }
  }

  @media (min-width: $width-desktop){
    margin-right: 0;
  }

  &__input {
    opacity: 0;
  }

  &__label {
    @include big-text;
    text-transform: none;
  }

  &__label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 18px #f2f2f2;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: -20px;
    background: #f2f2f2;
  }

  &__input:checked + &__label:before{
    background: #000;
  }
}

/*Форма с датами поездки*/

.travels-dates{

  &__label--days {
  display: none;
  @media (min-width: $width-laptop) and (max-width: $width-desktop - 1) {
    display: inline;
    }
  }

  &__label--durations {
  @media (min-width: $width-laptop) and (max-width: $width-desktop - 1)  {
    display: none;
    }
  }

  &__label {
    display: block;
    @include label;
    margin-bottom: 7px;
    margin-left: 21px;
  }

  &__input {
    display: block;
    @include input;
    margin-bottom: 15px;
    width: 100%;
  }

  &__item{
    display:inline-block;
    width: 100%;
    margin-right: 0;
    @media (min-width: $width-laptop) {
      width: 27%;
      margin-right: 8.45%;
    }
  }

  &__item:last-child{
    margin-right: 0;
  }

}

.counter{
  @media (min-width: $width-laptop){
    margin: 0 auto;
  }

  &__label {
    display: block;
    @include label;
    margin-bottom: 7px;
    margin-left: 21px;
  }

  &__input {
    display: block;
    @include input;
    margin-bottom: 15px;
    width: 100%;
  }

  &__marker{
    display: inline-block;
    position: relative;
    height: 66px;
    color: #b8b8b8;
    font-size: 14px;
    border: none;
    background-color: #f2f2f2;
    @media (min-width: $width-laptop) and (max-width: $width-desktop - 1){
      margin-left: -5px;
    }
  }

  &__marker-unit{
    position: absolute;
    top: 25px;
    right: 10px;
    @media (min-width: $width-laptop) and (max-width: $width-desktop - 1){
      display: none;
    }
  }

  &__number{
    width: calc(100% - 130px);
  }

  &__less{
    width: 60px;
    fill: #b8b8b8;
    vertical-align: middle;
  }

  &__more{
    width: 60px;
    fill: #b8b8b8;
    vertical-align: middle;
  }

}

.number-travelers{
  @media (min-width: $width-laptop){
    width: 29%;
  }
  @media (max-width: $width-desktop - 1){
    margin: 0 auto;
    text-align: center;
  }
}

/*количество путешественников*/
.form-wrapper{

  &__item{
    @media (min-width: $width-laptop){
     display: inline-block;
     width: 32.6%;     
     margin-right: 0.4%;
     
     &:last-child{
      margin-right: 0;
    }
   }

   @media (min-width: $width-desktop){
    &:first-child{
        width: 22%;
    }
    margin-right: 4%;   
   }
    
  }

  &__number{
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    background: #f2f2f2;
    width: 96%;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }



  &--mobile-left {
    @media (max-width: $width-laptop - 1){
      float: left;
      width: 22%;
      margin-bottom: 168px;
    }
    @media (min-width: $width-laptop){
      display: inline-block;
      width: 10%;
    }
    @media (min-width: $width-desktop){
      width: 7%;
    }    
 }
 &--mobile-left  &__item{
   width: 100%;
   margin-right: 5.65%;
 }

  &--mobile-right {
    @media (max-width: $width-laptop - 1){
      float: right;
      width: 76%;
    }
    @media (min-width: $width-laptop){
      display: inline-block;
      width: 89%;
    }
  }

  &__label{
    @include label;
  }

  &__input{
    @include input;
    width: 100%;
  }
}

/*посещенные достопримечательности*/
.attraction{

  @media (min-width: $width-laptop) and (max-width: $width-desktop - 1){
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  &__item{
    display: inline-block;
     @media (max-width: $width-laptop - 1){
        width: 100%;
     }    
  }

  &__input{
    opacity: 0;
  }

  &__label{
    @include big-text;
    text-transform: none;
  }

  &__label:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: 10%;
    background: #f2f2f2;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  &__input:checked + &__label:before{
    background: #f2f2f2 url('../img/tick.png') no-repeat 50% 50%;
    background-size: 25px 19px;
  }
}

.select-photos{

  &__label{
    cursor: pointer;
    @include btn;
    color: #c6c6c6;
    background-color: #f2f2f2;
    width: 100%;

     @media (min-width: $width-laptop) and (max-width: $width-desktop - 1){
        width: 70%;
        margin-left: auto;
        margin-right: auto;
     }

    &--choose{
      display: inline;
       @media (min-width: $width-desktop){
        display: none;
       }
    }
    &--drag{
      display: none;
      @media (min-width: $width-desktop){
        display: inline;
      }
    }
  }
  &__button{
    opacity: 0;
  }
}

.download{

  &__photo{
    display: inline-block;
    position: relative;
    width: 19.9%;
    margin-top: 0px;
    margin-right: 12.5%;
    margin-bottom: 12.5%;
    margin-left: 0px;

   @media (min-width: $width-laptop){
      width: 22.2%;
      margin-right: 10.1%;
      margin-bottom: 10.1%;
   }

    @media (min-width: $width-desktop){
      width: 22.2%;
      margin-right: 10.1%;
      margin-bottom: 10.1%;
   }
    
   @media (min-width: $width-desktop){
      width: 14.6%;
      margin-right: 5%;
      margin-bottom: 5%;
  }
    font-size: $font-size;

    &--hidden{
      @media (min-width: $width-laptop){
        display: none;
      }
    }
  }

   &__btn{
    position: absolute;
    top: -15px;
    left: calc(50% - 24%);
    display: block;
    width: 48%;
    height: 48%;
    border-radius: 50%;
    color: #f2f2f2;
    border: none;

    @media (min-width: $width-laptop){
      width: 50%;
      height: 50%;
      left: 75%;
   }

    @media (min-width: $width-laptop){
      width: 30%;
      height: 30%;
      left: 85%;
   }
    
    @media (min-width: $width-laptop) and (max-width: $width-desktop - 1){
      z-index: -2;
    }

  }
  &__btn--close{
    background: #f2f2f2 url("../img/icon-close.png") no-repeat scroll 50% 50%;
    background-size: 12px 12px;
  }
}